#size-alert {
  position: fixed;
  z-index: 100;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  width: 50rem;

  .chakra-alert__content {
    flex-grow: 2;
  }

  &.fade {
    opacity: 0;
    transition: opacity 500ms ease-out;
  }
}